*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../assets/body.jpg);
}

.chessboard {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 12rem);
  grid-template-rows: repeat(8, 12rem);
  box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.5);
}

.black-board {
  background-image: url(../assets/black.jpg);
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.white-board {
  background-image: url(../assets/white-3.jpg);
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chess-piece {
  height: 12rem;
  z-index: 1;
}

.one::after {
  content: "1";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: white;
}

.two::after {
  content: "2";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: black;
}

.three::after {
  content: "3";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: white;
}

.four::after {
  content: "4";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: black;
}

.five::after {
  content: "5";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: white;
}

.six::after {
  content: "6";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: black;
}

.seven::after {
  content: "7";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: white;
}

.eight::after {
  content: "8";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 2rem;
  color: black;
}

.letter-a::before {
  content: "a";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: white;
}

.letter-b::after {
  content: "b";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: black;
}

.letter-c::after {
  content: "c";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: white;
}

.letter-d::after {
  content: "d";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: black;
}

.letter-e::after {
  content: "e";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: white;
}

.letter-f::after {
  content: "f";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: black;
}

.letter-g::after {
  content: "g";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: white;
}

.letter-h::after {
  content: "h";
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
  color: black;
}

.white-pawn-five {
  animation: twoUp 1.5s ease 1 forwards, taken 1.5s 17s ease 1 forwards;
}

.black-pawn-five {
  animation: twoDown 1.5s 1.5s ease 1 forwards,
    e5Take 1.5s 13.5s ease 1 forwards, taken 1.5s 15.5s ease 1 forwards;
}

.white-pawn-six {
  animation: twoUp 1.5s 3s ease 1 forwards;
}

.black-bishop-right {
  animation: threeDiagDownLeft 1.5s 4.5s ease 1 forwards,
    bishopBack 1.5s 19.5s ease 1 forwards;
}

.white-knight-right {
  animation: knightUpLeft 1.5s 6s ease 1 forwards;
}

.black-pawn-four {
  animation: oneDown 1.5s 7.5s ease 1 forwards;
}

.white-pawn-three {
  animation: oneUp 1.5s 9s ease 1 forwards, c3Take 1.5s 15s ease 1 forwards;
}

.black-queen {
  animation: oneDiagDownRight 1.5s 10.5s ease 1 forwards,
    e7Take 1.5s 16.5s ease 1 forwards, queenBack 1.5s 25.5s ease 1 forwards;
}

.white-pawn-four {
  animation: twoUp 1.5s 12s ease 1 forwards, taken 1.5s 14s ease 1 forwards;
}

.white-king {
  animation: oneUpRight 1.5s 18s ease 1 forwards;
}

.white-bishop-right {
  animation: fourDiagUpLeft 1.5s 21s ease 1 forwards;
}

.black-king {
  animation: oneLeft 1.5s 22.5s ease 1 forwards;
}

.white-rook-right {
  animation: threeRight 1.5s 24s ease 1 forwards,
    rookCheckmate 1.5s 27s ease 1 forwards;
}

/* //////////////////////////////// */
/* ANIMATION */
/* //////////////////////////////// */

@keyframes oneUp {
  100% {
    transform: translate(0, -12rem);
  }
}

@keyframes oneUpRight {
  100% {
    transform: translate(12rem, -12rem);
  }
}

@keyframes oneLeft {
  100% {
    transform: translate(-12rem, 0);
  }
}

@keyframes oneDown {
  100% {
    transform: translate(0, 12rem);
  }
}

@keyframes twoUp {
  100% {
    transform: translate(0, -24rem);
  }
}

@keyframes twoDown {
  100% {
    transform: translate(0, 24rem);
  }
}

@keyframes threeRight {
  100% {
    transform: translate(-36rem, 0);
  }
}

@keyframes fourDiagUpLeft {
  100% {
    transform: translate(-48rem, -48rem);
  }
}

@keyframes oneDiagDownRight {
  100% {
    transform: translate(12rem, 12rem);
  }
}

@keyframes oneDiagDownLeft {
  100% {
    transform: translate(-12rem, -12rem);
  }
}

@keyframes threeDiagDownLeft {
  100% {
    transform: translate(-36rem, 36rem);
  }
}

@keyframes knightUpLeft {
  100% {
    transform: translate(-12rem, -24rem);
  }
}

@keyframes taken {
  100% {
    opacity: 0;
  }
}

/* CUSTOM */
@keyframes e5Take {
  100% {
    transform: translate(-12rem, 36rem);
  }
}

@keyframes c3Take {
  100% {
    transform: translate(12rem, -24rem);
  }
}

@keyframes e7Take {
  100% {
    transform: translate(12rem, 48rem);
  }
}

@keyframes bishopBack {
  100% {
    transform: translate(-48rem, 24rem);
  }
}

@keyframes queenBack {
  100% {
    transform: translate(36rem, 24rem);
  }
}

@keyframes rookCheckmate {
  100% {
    transform: translate(-36rem, -84rem);
  }
}

/* //////////////////////////////// */
/* MEDIA */
/* //////////////////////////////// */

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 48.125em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 38.5em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 33.75em) {
  html {
    font-size: 30%;
  }
}
